@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>


    <h3>This is our Banking System</h3>
    <h4></h4>
@*    <p>To <a asp-action="login">Login</a> or <a asp-action="Signup">Sign up</a></p>
*@</div>
